<script>
    import Time from "svelte-time";
    import Modal from 'svelte-simple-modal';
    import Content from './SamplesModal.svelte';
    import {selectedRepository} from "./RepositoryStore.js";

    var repository = 'https://gitlab.com/codekeepers/legacylab.api.git';
    let files = []
    let loading = false

    async function doPost() {
        loading = true
        files = []
        // const res = await fetch('http://localhost:8082/hotspots', {
        repository = $selectedRepository
        const res = await fetch('https://legacylab.ralfwirdemann.de:8082/hotspots', {
            method: 'POST',
            body: JSON.stringify({
                repository,
            })
        })

        files = await res.json()
        console.log(files)
        loading = false
    }

    function truncate(text, totalChars) {
        const start = text.slice(0, 0);
        const end = text.slice(-totalChars);

        if (start.length + end.length < text.length) {
            return start + '…' + end;
        } else {
            return text;
        }
    }
</script>

<div class="container mx-auto p-12">
    <h1 class="text-3xl font-medium">CodeKeepers Hotspot Analysis</h1>
    <form class="mt-4">
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search"
                   class="block w-full p-4 pl-10 text-gray-900 border border-gray-300 rounded-2xl
                   dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                   bind:value={$selectedRepository} placeholder="Enter repository URL" required>
            {#if loading}
                <button type="submit" on:click={doPost}
                        class="text-white absolute right-2.5 bottom-2.5 bg-blue-400 hover:bg-blue-600 font-medium rounded-lg
                        text-sm px-4 py-2 dark:bg-blue-400 dark:hover:bg-blue-600">
                    Analyze...
                </button>
            {:else }
                <button type="submit" on:click={doPost}
                        class="text-white absolute right-2.5 bottom-2.5 bg-blue-400 hover:bg-blue-600 font-medium rounded-lg
                        text-sm px-4 py-2 dark:bg-blue-400 dark:hover:bg-blue-600">
                    Analyze
                </button>
            {/if}
        </div>
    </form>

    {#if (files !== null && files.length > 0)}
        <table class="w-full mt-4 text-sm">
            <thead>
            <tr>
                <th class="text-left">File</th>
                <th class="text-left">Commits</th>
                <th class="text-left">Age</th>
                <th class="text-right">Lines</th>
                <th class="text-right">Complexity</th>
            </tr>
            </thead>
            <tbody>
            {#each files as f}
                <tr>
                    <td>{truncate(f.Name, 80)}</td>
                    <td>{f.Commits}</td>
                    <td>
                        <Time relative timestamp={f.Age}/>
                    </td>
                    <td style="text-align: end">{f.Lines}</td>
                    <td style="text-align: end">{f.Complexity.toFixed(2)}</td>
                </tr>
            {/each}
            </tbody>
        </table>
    {:else}
        <Modal closeButton={false}>
            <Content/>
        </Modal>
    {/if}
</div>


