<script>
    import {selectedRepository} from "./RepositoryStore.js";

    function select(repo) {
        $selectedRepository = repo
    }

</script>

<div class="grid grid-cols-11 gap-y-2">
    <div class="col-span-10">https://github.com/spring-projects/spring-data-jpa.git</div>
    <div><button on:click={() => select("https://github.com/spring-projects/spring-data-jpa.git")} class="btn">Select</button></div>
    <div class="col-span-10">https://github.com/apache/tomcat.git</div>
    <div><button class="btn">Select</button></div>
</div>