<script>
    import {getContext} from 'svelte';
    import SampleRepositories from './SampleRepositories.svelte';
    import Modal from "svelte-simple-modal";

    const {open} = getContext('simple-modal');
    const showSamples = () => open(SampleRepositories);
</script>

<a href="#" on:click={showSamples} class="text-xs underline">Click for samples</a>